LOGIN_PASSWORD=changeme
APPURL=http://dev.dev.ll
HEADLESS=true
DKCONTAINER=nutri
REGISTER_ENCRYPT=93d698b361e82de19e00283f585ab5ab89e2a6f6812556b3551afe1ff20c44b2

# MAC
CHROME_PATH='/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'
WINDOW_POS='0,-3000'
WINDOW_SIZE='1280,840'

#WIN
CHROME_PATH='C:\Program Files (x86)\Google\Chrome\Application\chrome.exe'
WINDOW_POS='-1200,0'
WINDOW_SIZE='1200,840'