LOGIN_PASSWORD=changeme
APPURL=http://dev.dev.ll
HEADLESS=true
DKCONTAINER=nutri

# MAC
CHROME_PATH='/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'
WINDOW_POS='0,-3000'
WINDOW_SIZE='1280,840'

#WIN
CHROME_PATH='C:\Program Files (x86)\Google\Chrome\Application\chrome.exe'
WINDOW_POS='-1200,0'
WINDOW_SIZE='1200,840'